* {
  font-family: 'Nunito Sans', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.shadow {
  box-shadow: 0 0 15px rgb(200, 216, 226);
  border-radius: 10px;
  padding-bottom: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    box-shadow: 5px 5px 5px rgb(230, 225, 225)
  }
}

.App-header {
  background-color: #5386eb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.historyImage {
  background-image: url('/src/image/history.jpg');
  width: 100%;
  height: 100vh;
}

.buttonBlock {
  display: flex;
  width: 400px;
  justify-content: space-between;
  padding-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.button {
  border: none;
  background-color: blue;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

@media (max-width: 768px){
  .comp {
    width: 90% !important;
    height: 70vh !important;
  }
}

@media (max-width: 500px){
  .buttonBlock {
    width: 300px;
  }
}
